{% extends 'base.html.twig' %}

{% block body %}
    <header class="page-header sticky top-0">
        <div class="flex items-center py-3 container">
            <nav class="menu -row items-center">
                <a href="https://nl.mage-os.org/">Mage-OS Nederland</a>
                <a href="https://www.magentoassociation.org/">Magento Assocation</a>
            </nav>
        </div>
    </header>

    <main>
        <div class="section">
            <div class="flex items-center container">
                <div class="card card-content p-12">
                    <h1 class="main">Meet Magento Nederland 2024</h1>
                    <p>We are working on it ...</p>
                    <p>
                        Currently, the new <a href="https://nl.mage-os.org/">Mage-OS Nederland</a> association is working on organizing MeetMagento Nederland 2024.
                        In the mean time, if you are looking for a Mage-OS Nederland event, look no further:
                        In July 2024, Mage-OS Nederland organizes (together with Yireo)
                        the <a href="https://mageunconference.nl/">MageUnconference Nederland</a>.
                    </p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}