{% extends 'base.html.twig' %}

{% block body %}
    <header class="page-header sticky top-0">
        <div class="flex items-center py-3 container">
            <nav class="menu -row items-center">
                <a href="https://nl.mage-os.org/">Mage-OS Nederland</a>
                <a href="https://www.magentoassociation.org/">Magento Assocation</a>
            </nav>
        </div>
    </header>

    <main>
        <div class="section">
            <div class="flex items-center container">
                <div class="card card-content p-12">
                    <h1 class="main">Meet Magento Nederland 2023</h1>
                    <h2>Thursday, 2 november 2023</h2>
                    <p>
                        Hurray, we - the new <a href="https://nl.mage-os.org/">Mage-OS Nederland</a> association - are organizing a MeetMagento Nederland. The date is November 2nd 2023. The venue and other details are still going to be determined.
                    </p>
                    <h2>Can't wait until November?</h2>
                    <p>
                        On July 13th & 14th 2023, Mage-OS Nederland organizes (together with Yireo)
                        the <a href="https://mageunconference.nl/">MageUnconference Nederland</a>.
                    </p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}